
certifi==2022.12.7
click==7.1.2
confapp==1.1.11
cycler==0.11.0
contourpy==1.0.7
Cython==0.29.33
dask==2021.3.0
decorator==4.4.2
docstring-inheritance==1.1.1
fonttools==4.38.0
imageio==2.15.0
kiwisolver==1.4.4
logging-bootstrap==1.0.0
matplotlib==3.6.3
msgpack==1.0.4
ndtiff==1.9.0
numexpr==2.8.4
numpy==1.19.5
opencv-python==4.7.0.68
packaging==21.3
Pillow==8.4.0
py-cpuinfo==9.0.0
pycromanager==0.25.1
pyparsing==3.0.9
PyQt5==5.15.8
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pyqt5-tools==5.15.4.3.2
pyqtgraph==0.13.1
pyserial==3.5
python-dateutil==2.8.2
python-dotenv==0.20.0
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==25.0.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
requests
safe-and-collaborative-architecture==0.2
scikit-image==0.17.2
scipy==1.10.0
Send2Trash==1.8.0
six==1.16.0
tables==3.8.0
tifffile==2020.9.3
toolz==0.12.0
wincertstore==0.2
zmq==0.0.0
win-inet-pton 

