h5py==3.11.0
instrulink==1.0.5
matplotlib==3.6.3
numba==0.60.0
numpy==1.24.1
opencv_python==4.7.0.68
pandas==2.2.2
pycromanager==0.25.1
PyQt5==5.15.10
PyQt5_sip
pyqtgraph==0.13.1
pyserial==3.5
scikit_image==0.24
scipy==1.10.0
tables==3.8.0
xlrd==2.0.1